html {
	font-size: 10px;
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
}

.title {
	padding: 0;
	margin: 0;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 4rem;
	letter-spacing: .5rem;
}

.state {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	letter-spacing: .5rem;
}

h3 {
	border: 1px solid black;
	padding: 1.5rem 4rem;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8rem;
	/* font-weight: 300; */
	transition: 0.4s;
	cursor: pointer;
}

h3:hover {
	background-color: black;
	color: white;
}

nav {
	width: 100%;
	min-height: 8rem;
	background-color: #6296fc;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 60%;
	text-align: center;
}

.container {
	display: flex;
	margin: 5rem auto;
	border: 1px solid black;
	width: 50%;
	justify-content: space-around;
	align-items: center;
	min-width: 60%;
	max-width: 80%;
	min-height: 15vh;
}

.cta {
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8rem;
	transition: .3s;
}

.cta:hover {
	background-color: black;
	color: white;
}

.color-box {
	min-height: 30vh;
	max-height: 50vh;
}

@media only screen and (max-width: 600px) {
	.container {
		flex-direction: column;
	}
}

@media only screen and (max-width: 370px) {
	.title {
		font-size: 3rem;
	}
	.state {
		font-size: 2.5rem;
	}
}
